body {
  height: 2000px;
}

.example {
  margin: auto;
  width: 90%;
  background-color: rgb(66, 163, 219);
  white-space: pre;
}

input {
  margin: auto;
  display: block;
  margin-top: 20px;
}

.progress-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 4px;
  background-color: blueviolet;
  width: 0;
}